<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<title>Frequently asked questions</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Site.Params.industry }} company from {{ .Site.Params.county }}.">
	<meta name="keywords" content="{{ .Site.Params.company }}, {{ .Site.Params.county }}, {{ .Site.Params.phone }}">
	<meta property="og:title" content="{{ .Site.Params.company }} - Frequently asked questions" />
	<meta property="og:description" content="{{ .Site.Params.company }} offer a wide range of {{ .Site.Params.industry }} services throughout {{ .Site.Params.county }} and the surrounding areas." />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="media/images/slider.jpg" />
	<!-- Meta Theme Colours For Phones Etc -->
	<meta name="theme-color" content="#1a1a1a">
	<meta name="msapplication-navbutton-color" content="#1a1a1a">
	<meta name="apple-mobile-web-app-status-bar-style" content="#1a1a1a">
	<meta name="application-name" content="{{ .Site.Params.company }}">
	<!-- Style Sheet Includes -->
	<link rel="stylesheet" href="media/css/foundation.css">
	<link rel="stylesheet" href="media/css/uikit.css">
	<link rel="stylesheet" href="media/css/jquery.fancybox.css">
	<link rel="stylesheet" href="media/css/flickity.css">
	<link rel="stylesheet" href="media/css/bnkit.css">
	<link rel="stylesheet" href="media/css/style.css">
	<link rel="shortcut icon" href="media/images/favicon.png">
</head>
<body>


<div class="nav-toggler">
	<div class="toggler-one"></div>
	<div class="toggler-two"></div>
	<div class="toggler-three"></div>
</div>
<div class="mobile-menu">
	<div class="row">
		<div class="columns small-12"><button class="close-nav"><span uk-icon="icon: chevron-left; ratio: 2"></span></button></div>
		<div class="columns small-12">
			<p class="nav-title">{{ .Site.Params.company }}</p>
		</div>
		<div class="columns small-12 mobile-nav-contact">
			<a href="tel:{{ .Site.Params.phone }}">Speak to an expert</a>
			<a href="contact.html#contact-form">Online enquiry</a>
		</div>
	</div>
</div>




<header id="header">		
	<div class="columns small-12 contact-bar gradientbg">
		<div class="row align-middle align-justify">
			<div class="columns small-12 medium-expand top-contact">
				<a href="tel:{{ .Site.Params.phone }}"><span uk-icon="icon: receiver; ratio: 0.8"></span>{{ .Site.Params.phone }}</a>
				<a class="mobphone" href="tel:{{ .Site.Params.mobile }}"><span uk-icon="icon: receiver; ratio: 0.8"></span>{{ .Site.Params.mobile }}</a>
				<a href="mailto:{{ .Site.Params.email }}"><span uk-icon="icon: mail; ratio: 0.8"></span>{{ .Site.Params.email }}</a>
			</div>
			<div class="columns small-12 medium-expand tar">
				<img src="media/images/shapes/stars.svg" alt="">
				<a href="testimonials.html">We boast excellent scores and reviews</a>
			</div>
		</div>
	</div>
	<div class="top-section columns small-12">
		<div class="row align-middle">
			<div class="columns small-12 medium-expand shrink logo">
				<a href="index.html">
					<img src="media/images/logo.png" alt="{{ .Site.Params.company }}, {{ .Site.Params.industry }} in {{ .Site.Params.towncity }}, {{ .Site.Params.county }}" title="{{ .Site.Params.company }}'s logo">
				</a>
			</div>
			<div class="columns small-12 medium-expand navigation tar">
				<div class="row align-middle align-right">
					<div class="columns shrink">
						<nav>
							<ul>
								<li><a title="{{ .Site.Params.company }}'s home page" href="index.html">Home</a></li>
								<li><a title="Services page" href="services.html">Services</a></li>
								<li><a title="Gallery page" href="gallery.html">Gallery</a></li>
								<li><a title="Reviews page" href="testimonials.html">Reviews</a></li>
								<li><a title="Contact page" href="contact.html">Contact</a></li>
							</ul>
						</nav>						
					</div>
					<div class="columns shrink top-quote">
						<a href="contact.html#contact-form" class="button">Request a quote!</a>						
					</div>
					<div class="columns shrink">
						<div class="social">
							<a href="#" target="_blank"><span uk-icon="icon: facebook; ratio: 0.75"></span></a>
							<a href="#" target="_blank"><span uk-icon="icon: twitter; ratio: 0.75"></span></a>
							<a href="#" target="_blank"><span uk-icon="icon: instagram; ratio: 0.75"></span></a>
							<a href="#" target="_blank"><span uk-icon="icon: linkedin; ratio: 0.75"></span></a>
							<a href="#" target="_blank"><span uk-icon="icon: whatsapp; ratio: 0.75"></span></a>
							<a href="#" target="_blank"><span uk-icon="icon: google; ratio: 0.75"></span></a>
						</div>						
					</div>
				</div>
			</div>
		</div>		
	</div>


	<div class="banner-bg">		
		<div class="banner">		
			<div class="slide"><div class="bigbg"><img src="media/images/quad4.jpg" alt="{{ .Site.Params.industry }} in {{ .Site.Params.county }}"></div></div>
			<div class="home-banner-text banner-text" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:800;">
				<div class="row align-center">
					<div class="inner-banner-text tac">
						<h1>Frequently asked questions</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>



<main>


	<section class="columns small-12">
		<div class="row align-center">
			<div class="columns small-12 medium-12 large-9">	

				<div class="row small-up-1 medium-up-1 large-up-2 faq">
					<div class="column">
						<div class="card hundred extralight">							
							<h3>What are your hours?</h3>
							<p>{{ .Site.Params.company }} operates Monday to Friday 9AM - 5PM, Saturday 9AM - 3PM and are closed for business on Sunday. Please feel free to message us outside our business hours and we will respond as soon as possible.</p>
						</div>
					</div>
					<div class="column">
						<div class="card hundred extralight">							
							<h3>Which areas do you cover?</h3>
							<p>Our business is located in {{ .Site.Params.towncity }}, and we offer our service throughout the whole of {{ .Site.Params.county }} and the surrounding areas. For larger projects we also travel outside of {{ .Site.Params.county }}, so please feel free to contact us if you wish to discuss a project in detail.</p>
						</div>
					</div>
					<div class="column">
						<div class="card hundred extralight">							
							<h3>What {{ .Site.Params.industry }} services do you offer?</h3>
							<p>We offer a wide range of {{ .Site.Params.industry }} services. We have put together a list on our <a href="services.html">services page,</a> however we can offer much more than this. If you are looking for {{ .Site.Params.industry }} services you don't see listed, it's likely that we can still help. Feel free to contact us to discuss.</p>
						</div>
					</div>
					<div class="column">
						<div class="card hundred extralight">							
							<h3>How is it best to contact you?</h3>
							<p>There are several ways you can get in touch, so find the contact method that best suits you! We do recommend though that if your query is urgent that you call, as replies to messages and emails will often take longer.</p>
						</div>
					</div>
					<div class="column">
						<div class="card hundred extralight">							
							<h3>Can you provide references?</h3>
							<p>We have a wide range of reviews from various jobs in the area, you can view those reviews <a href="testimonials.html">here.</a> Our reviews range from small projects lasting a few hours, to larger jobs lasting several days. We can also provide additional references on request, and show you some of our recently completed projects if required.</p>
						</div>
					</div>
					<div class="column">
						<div class="card hundred extralight">							
							<h3>How long will my project take?</h3>
							<p>No two {{ .Site.Params.industry }} projects are the same. Once we have looked at your specific job we will be able to give you a proposed start date and tell you how long the project will take to complete.</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>





</main>




<footer>
	<div class="row">
		<div class="columns large-6 medium-12 small-12 logo-footer main-foot">
			<img src="media/images/icon.svg" alt="">
			<h5>At {{ .Site.Params.company }} we believe in transparency, honesty, and professionalism in all our interactions.</h5>
			<a href="contact.html" class="button"><span uk-icon="icon: comment; ratio: 0.6"></span>Contact details</a>
			<br>
		</div>
		<div class="columns large-expand medium-6 small-5">
			<h6 class="menutitle">Navigation</h6>
			<ul>
				<li><a href="privacy.html">Privacy Policy</a></li>
				<li><a href="faq.html">FAQ's</a></li>
			</ul>
		</div>
		<div class="columns large-expand medium-6 small-7">
			<h6>Main Services</h6>
			<ul>
				<li><a title="#serviceone in {{ .Site.Params.county }}" href="services.html">#serviceone</a></li>
				<li><a title="#servicetwo in {{ .Site.Params.county }}" href="services.html">#servicetwo</a></li>
				<li><a title="#servicethree in {{ .Site.Params.county }}" href="services.html">#servicethree</a></li>
				<li><a title="#servicefour in {{ .Site.Params.county }}" href="services.html">#servicefour</a></li>
				<li><a title="#servicefive in {{ .Site.Params.county }}" href="services.html">#servicefive</a></li>
			</ul>
		</div>
	</div>
	<div class="by columns">
		<div class="row align-middle">
			<div class="columns">
				<p>Website designed and hosted by <strong>New World Digital Media</strong></p>				
			</div>
			<div class="columns tar shrink">
				<a class="totop" uk-totop></a>
			</div>
		</div>
	</div>
</footer>




<script src="media/js/jquery.js"></script>
<script src="media/js/flickity.js"></script>
<script src="media/js/uikit.min.js"></script>
<script src="media/js/uikit-icons.min.js"></script>
<script src="media/js/jquery.fancybox.js"></script>
<script src="media/js/scripts.js"></script> 
</body>
</html>