		{{ define "banner" }}
		<div class="banner-bg">		
			<div class="banner">		
				<div class="slide"><div class="bigbg"><img src="media/images/quad4.jpg" alt="{{ .Site.Params.industry }} in {{ .Site.Params.county }}"></div></div>
				<div class="home-banner-text banner-text" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: false; delay:800;">
					<div class="row align-center">
						<div class="inner-banner-text tac">
							<h1>{{ .Params.Title }} </h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ end }}

{{ define "main" }}



	<section class="columns small-12 rel">
		<div class="row align-center">
			<div class="columns small-12 medium-12 large-9 reviews reviews-2">	


				<blockquote class="extralight">
					<div class="quotetext">
						<p>Please provide review to go here.</p>
					</div>
					<div class="author">
						<span>Review author</span>
					</div>
				</blockquote>


				<blockquote class="extralight">
					<div class="quotetext">
						<p>Please provide review to go here.</p>
					</div>
					<div class="author">
						<span>Review author</span>
					</div>
				</blockquote>


				<blockquote class="extralight">
					<div class="quotetext">
						<p>Please provide review to go here.</p>
					</div>
					<div class="author">
						<span>Review author</span>
					</div>
				</blockquote>


				<blockquote class="extralight">
					<div class="quotetext">
						<p>Please provide review to go here.</p>
					</div>
					<div class="author">
						<span>Review author</span>
					</div>
				</blockquote>



			</div>
			<!-- <div class="columns small-12 medium-12 large-3 checka">
				<div class="ctWidget">
						<div class="inner">
							<img src="http://www.checkatrade.com/Reputation/APIChart/LINKHERE.png" alt="View Our Checkatrade"/>
						</div>
					<a href="http://www.checkatrade.com/LINKHERE">View Our Profile</a>
				</div>
			</div> -->
		</div>
		<div class="row align-center small-section tac more mt-med">
			<div class="columns">
				<a href="#" class="button" target="_blank"><span uk-icon="icon: arrow-right; ratio: 0.8"></span>Read more</a>
			</div>
		</div>
	</section>



	<div class="wide-row">
		<section class="columns darkbg large-section why gradientoverlay rounded">
			<div class="row align-middle">
				<div class="columns small-12 medium-12 large-3">
					<div class="row">						
						<div class="columns small-12">
							<p class="sub-title">How we work</p>
							<h3>Our process</h3>
							<p>Hiring us to take care of your {{ .Site.Params.industry }} work could not be simpler. Just get in touch with us and tell us what you need, and we will arrange the rest!</p>
							<br>
							<a href="contact.html#contact-form" class="button"><span uk-icon="icon: play; ratio: 0.6"></span>Start process</a>
						</div>
					</div>					
				</div>
				<div class="columns small-12 medium-12 large-9">
					<div class="row">
						<div class="columns small-12 medium-12 large-4">
							<div class="card shadow hundred extralightbg">
								<p class="sub-title">01</p>
								<h4>Tell us the details</h4>
								<p>Reach out to us using whichever contact method suits you, and tell us about your requirements.</p>
							</div>
						</div>
						<div class="columns small-12 medium-12 large-4">
							<div class="card shadow hundred extralightbg">
								<p class="sub-title">02</p>
								<h4>We provide a quote</h4>
								<p>We will then go over the details and provide you with a no obligation quote to have the work carried out.</p>
							</div>
						</div>
						<div class="columns small-12 medium-12 large-4">
							<div class="card shadow hundred extralightbg">
								<p class="sub-title">03</p>
								<h4>We will solve your problem</h4>
								<p>Our team are highly qualified and will always provide a solution to any {{ .Site.Params.industry }} problem you might have.</p>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</section>
	</div>





{{ end }}